body {
	color: #fff;
	font-family: "futura-pt",sans-serif;
	font-size: 95%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	font-variant-ligatures: common-ligatures;
	text-align: left;
	line-height: 1.52;
	text-rendering: optimizeLegibility;
  background-color: #1686AA;
  /*background-image: -webkit-linear-gradient(-45deg, rgb(8,117,152), rgb(29, 138, 173));
  background-image: linear-gradient(-45deg, rgb(8,117,152), rgb(29, 138, 173));*/
}

a, a:active, a:visited {
  cursor: pointer;
	color: #fff;
	text-decoration: none;
	-o-transition:color .2s ease-out, background .5s ease-in;
  	-ms-transition:color .2s ease-out, background .5s ease-in;
  	-moz-transition:color .2s ease-out, background .5s ease-in;
  	-webkit-transition:color .2s ease-out, background .5s ease-in;
  	transition:color .2s ease-out, background .5s ease-in;
}
a:hover {color: rgba(255,255,255, .7);}

h1, h2 {padding: 0;}
h2 {display: none;}

section {
	width: 37.3em;
	height: 29em;
	overflow: hidden;
	margin: auto auto auto 10%;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

p {
	font-size: 2.3em;
	font-weight: 300;
	margin: 0;
	padding: 1.5em 0 .6em 0;
}
ul {padding: 0;}
ul li {
	display: inline;
	font-weight: 400;
	padding: 0 .5em 0 0;
	font-size: 1.4em;
	letter-spacing: .1;
}

#gradient {height: 100%; width: 100%;}

@media screen
and (min-width : 1700px) {
	p {font-size: 2.9em; padding-bottom: .4em;}
	section {width: 56em; height: 39em;}
	ul li {font-size: 1.8em; padding-left: 0; padding-right: .8em;}
}

@media screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
	body {text-align: left; padding: 0;}
	p {font-size: 1.5em; padding-bottom: .2em; font-weight: 400;}
	section {margin: auto; width: 84%; height: 24em; padding: 0 8%;}
	ul li {font-size: 1.26em; padding-left: 0; padding-right: .8em;}
	h1 {display: none;}
	h2 {display: block;}
}

@media screen
and (device-width : 360px) {
	section {margin: auto; width: 88%; height: 24em; padding: 0 6%;}
}

.initials {
  width: 50px;
}
