h1, h2, h3, h4, h5 {
  margin-top: 0;
  margin-bottom: 0;
}
.center {
  text-align: center;
}
.center-margin {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}
.social-icons {
  list-style: none;
  display: inline;
  margin-right: 2vw;
  margin-top: 2vh;
}
.icon {
  width: 40px;
  opacity: .8;
}
.icon:hover {
  opacity: 1;
}
.network {
  display: inline-block;
}
.network-micro {
  list-style: none;
}
.micro-icon {
  width: 40px;
}
.micro-icon-container {
  margin-top: 10px;
  margin-right: 10px;
}
.title-container {
}
.skills, .name {
  margin-top: 2vh;
}
.buttons-container span {
  display: inline-block;
  margin-top: 4vh;
}
.main-btn {
  border: 3px solid #333333;
  border-radius: 5px;
  width: 190px;
}
.main-btn:hover {
  border: 3px solid #333333;
  border-radius: 5px;
  width: 190px;
  cursor: pointer;
  background-color: #333333;
  color: #b2e7ac;
}
.main-btn h2 {
  margin: 0;
  padding: 10px;
}
.github {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.git-text {
  color: white;
  font-size: 4vw;
}
.twitter-share-button{
  position: absolute;
  z-index: 99;
  right: 149px;
  top: 9px;
}
.thanks {
  color: white;
  padding-top: 2vh;
}
.title-container {
  padding-top: 30vh;
}
.flag-outer {
  display: inline-block;
  width: 15em;
  height: 15em;
}
.flag-inner {
  position: relative;
  display: inline-block;
  width: 15em;
  height: 15em;
}
.flag-i {
  position: absolute;
  display:inline-block;
  width:0;
  height:0;
  line-height:0;
  border:6em solid #3F97D6;
  border-bottom:6em solid transparent;
  left:0em;
  top:0em
}
.big-social-icons {
  padding-left: 0;
  margin-bottom: 0;
}
.big-icon-container {
  margin-top: 5vh;
}
.big-icon {
  width: 70%;
  opacity: .8;
}
.big-icon:hover {
  opacity: 1;
}
.about-name {
  color: #3F97D6;
  font-size: 3.5em;
}
.about-text {
  margin-top: 10px;
  font-size: 1.25em;
}
.my-picture-container {
  border: 2px solid #4b4b4b;
  border-radius: 5px;
}
.my-picture {
  width: 100%;
}
.pr {
  margin-top: 25vh;
}
.blue-divider-top {
  height: 20px;
  width: 100vw;
  background-color: #3F97D6;
  -webkit-box-shadow: 0px 7px 21px -5px rgba(63,151,214,1);
  -moz-box-shadow: 0px 7px 21px -5px rgba(63,151,214,1);
  box-shadow: 0px 7px 21px -5px rgba(63,151,214,1);;
}
@media screen and (max-width: 991px) {
  .break-hide {
      display: none !important;
  }
  .full-gif {
    background-image: url("")
    background-size: cover;
    background-repeat: no-repeat;
  }
  .large-margin {
    margin-top: 2.5vh;
  }
  .center-small {
    margin-left: 0;
  }
  .set-margin {
    margin-bottom: 2vh;
  }
}
@media screen and (min-width: 991px) {
  .mini-gif {
    background-image: url(img/andy-PR.gif);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .break-show {
    display: none !important;
  }
  .large-margin {
    margin-top: 55px;
  }
}
@media screen and (max-width: 480px) {

}
@media screen and (max-width: 1200px) {
  .lg-break {
      display: none !important;
  }
  .about-container {
    margin-top: 4vh;
  }
}
#section0 .fp-tableCell{
  vertical-align: top;
}
#section3 .fp-tableCell{
  vertical-align: top;
}
#section1 {
}
#section6 .fp-tableCell{
     vertical-align: top;
}
#section6 {
  /*background-image: url(img/andy-PR.gif);
  background-size: cover;
  background-repeat: no-repeat;*/
}
